
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,800&family=Libre+Bodoni&display=swap');


:root {
    --text-color: #f0f3f5;
    --background-color: #6e3f00;
    --accent-color: #d49466;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: var(--background-color);
}

.navbar_links a, .navbar_logo a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

.navbar_logo {
    font-size: 40px;
    color: var(--text-color); 
}

.navbar_logo span {
    font-family: 'Libre Bodoni', serif;
}

.navbar_logo i {
    color: var(--accent-color);
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

.navbar_links {
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
    font-family: 'Nunito', sans-serif;
}

.navbar_links li {
    padding: 8px 12px;
    font-size: 20px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}

select::-ms-expand {
    display: none;
}

#select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 135px;
    height: 22px;
    border-radius: 4px;
    outline: 0 none;
    padding: 0px 4px;
}

#select option {
    background-color: var(--background-color);
    color: var(--text-color);
}

.login_user {
    font-family: 'SUIT-Medium';
    margin-bottom: 14px;
    padding-bottom: 2px;
    font-weight: bold;
    color: var(--text-color)
}

.btn1 {
    background-color: var(--background-color);
    font-size: 20px;
    border: none;
}